.page-header{
  background-image: url(/assets/concrete.jpg);
  position: relative;
}

.logo{
  background-image: url(/assets/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
