---
---

@import "{{site.theme}}";

.page-content{
  background-image: url(/assets/concrete.jpg);
  position: relative;

  .wrapper{
    padding-top: 30px;
    background: #fdfdfd;
  }

}

.wrapper{
  max-width: -webkit-calc(1000px - (30px * 2));
  max-width: calc(1000px - (30px * 2));
}

.site-title{
  background-image: url(/assets/logo_small.png);
  background-size: 40px 40px;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 50px;
  white-space: nowrap;
  overflow:hidden;
  width: 80%;
  display: block;
}

.site-nav{
  z-index: 10;
}

.leftimage{
  float: left;
  padding: 5px 10px;
}
